{% extends 'extender.html' %}

{% block x %}

<div class="container-fluid tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            About Picwarp Website
        </h2>
    </div>
    <div class="row tm-mb-74 tm-row-1640">

        <div class="col-lg-7 col-md-6 col-12">
            <div class="tm-about-img-text">
                <p class="mb-4">
                <h3>preamble</h3>
                <br>
                We appreciate your interest and your concerns about the privacy of your data on the Internet. So we
                have created this statement to explain our commitment to privacy and this agreement is valid between
                you and Calculateu.com and your use of the site or part of it means your acknowledgment and
                acceptance of these limits and conditions and that you have carefully read them.
                <br><br>
                <h3>Internet Protocol (IP - Internet Protocol) </h3>

                At any time you visit any website including this website, the host server will record your Internet
                Protocol (IP) address, the date and time of the visit, the type of Internet browser you use and the
                URL of any website that you refer to this site On the web.
                <br><br>
                <h3>Use of cookies</h3>

                Cookies are a set of information that a website transfers from the network to the hard drive of the
                user's computer for the purpose of storing cookies. Cookies make browsing on the network easy for
                you by saving your preferences when visiting the site. It is simply a small file in which
                information is stored that identifies you as a unique user. We do not save passwords or information
                in a cookie. Accepting a cookie does not mean allowing anyone to access your device or any personal
                information. The use of cookies is a software standard that you will find in most Large websites on
                the web and most Internet browsers were initially designed to accept this feature, however you can
                reset your Internet browser to refuse/disable this feature or to indicate when cookies were sent
                <br><br>
                <h3>Third party advertisements</h3>

                We at Ehseb use third-party advertising companies to display their ads on our site and they will be
                shown to you when you visit one of the site’s pages or sections. On this site, we use Google Adsense
                ads as an external financial resource, and these ads may cause a cookie to work. and web beacons) to
                collect simple non-personally identifiable information about the visitor such as IP number, browser
                type and date, knowing that they do not cause any harm to your computer and are only found to
                improve service and performance. Double Click DART cookie: Google stores an advertising cookie in
                the user's browser to understand the types of pages the user visits. This information is used to
                serve ads based on interest categories that may be of interest to users. Users may opt out of the
                use of the DART cookie by visiting the Google ad and content network privacy policy.
                <br><br>
                <h3>Contact us</h3>

                You can contact us when needed by clicking on the Contact Us link available in our website links or
                sending to our email admin@calculateu.com All data provided by you will be treated on the basis that
                it is confidential. And that data will be used only to respond to all your inquiries, comments, or
                requests by this site</p>
            </div>
        </div>
    </div>
</div>

{% endblock x%}